@model IEnumerable<LavaCar.ETL.VehiculoETL>

@{
    ViewData["Title"] = "Index";
}

<h1>Vehículos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dueno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dueno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVehiculo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdVehiculo">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVehiculo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
